<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a [routerLink]="['/']" ><b>Mini</b>Blog</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
                <div class="input-group mb-3">
                    <input type="email" name="userEmail" [(ngModel)]="loginInfo.email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="userPassword" [(ngModel)]="loginInfo.password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" (click)="LoginSystem()" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            <p class="mb-1">
                <a [routerLink]="['/resetpassword']" >Forgot Password!</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" bsModal #modalLoading="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center py-5">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>