<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->

    <app-slider></app-slider>

    <!-- Content Wrapper. Contains page content -->
    <router-outlet>Loading...</router-outlet>
    <!-- /.content-wrapper -->
    <!-- /.control-sidebar -->
    <!-- Main Footer -->
    <app-admin-footer></app-admin-footer>
</div>
<!-- ./wrapper -->